<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%-5p|%d{yyyy-MM-dd HH:mm:ss,SSS}|%X{TRACE_ID}|%t|%C{1}:%L|%m%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="/home/file-io/logs/file-io-server.log"
                     filePattern="/home/file-io/logs/file-io-server.%d{yyyyMMdd}.log" append="true">
            <PatternLayout>
                <pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%C{1}:%L] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!--按天分日志-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ErrorRollingFile" fileName="/home/file-io/logs/file-io-server-error.log"
                     filePattern="/home/file-io/logs/file-io-server-error.%d{yyyyMMdd}.log"
                     append="true">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%C{1}:%L] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!--按天分日志-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO" includeLocation="true" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorRollingFile"/>
        </AsyncRoot>
    </Loggers>
</Configuration>